.menuSection {
  justify-content: flex-end;
  display: flex;
  width: 235px;
  height: 24px;
  gap: 16px;
}

.menuWrapper {
  display: flex;
  justify-content: end;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.iconColor {
  color: rgba(224, 164, 73, 1);
}

.menuSectionIsOpen {
  display: flex;
  background: linear-gradient(
    rgba(52, 51, 51, 1),
    rgba(72, 72, 72, 1),
    rgba(40, 40, 40, 1)
  );
  padding: 10px;
  right: 0;
  top: 13%;
  gap: 5px;
  position: absolute;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .menuSection {
    color: black;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    display: none;
  }
  .menuWrapper {
    overflow: hidden;
  }
}
