.artPageWrapper {
  display: flex;
  max-width: 1280px;
  gap: 5%;
  color: rgba(57, 57, 57, 1);
}

.backBtn {
  border: none;
  background: rgba(251, 215, 178, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1280px;
  align-items: center;
  display: flex;
  gap: 30px;
  flex-shrink: 1;
}

.backBtn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(224, 164, 73, 1);
}

@media screen and (max-width: 1280px) {
  .artPageWrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper {
    justify-content: center;
  }
}
